

*{
    box-sizing:border-box;
}

body{
    background: linear-gradient(to bottom, white, DeepPink);
    color:deeppink;
    display: flex;
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    min-height: 97vh;
    
}
.logo{
    align-self: center;
    padding: 0px;
    margin-top: -50px;
}

h1{
    margin: 0px 0 0px;
    text-align:center;
    font-size:80px;
    font-family: 'Francois One', sans-serif;
}
input[type='checkbox']{
    margin-right:0;
}
.container{
    background-color:white;
    box-shadow: 1px 1px 10px rgb(241, 191, 235);
    padding: 10px;
    margin: 0px;
    width: 320px;
    font-family: 'Francois One', sans-serif;
    font-size: 13px;
    color: black;
    max-width:100%;
}
.result-container{
    background-color:aliceblue;
    color:deeppink;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 20px;
    letter-spacing:1px;
    padding: 8px 8px;
    height:50px;
    width:100%;
}


.result-container .btn{
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;

}
.btn{
    border: none;
    color: deeppink;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    text-align: center;
    background-color:black;
}
.btn-large{
    
    width: 100%;
    text-align: center;
    padding: 2px;
    font-family: 'Francois One', sans-serif;
}
.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 0;
}

    
